<div class="custom-block primary-bg">
    <h5 class="text-white mb-4">Add Money</h5>

    <a href="#">
        <img src="static/images/profile/young-woman-with-round-glasses-yellow-sweater.jpg" class="profile-image img-fluid" alt="">
    </a>

    <a href="#">
        <img src="static/images/profile/young-beautiful-woman-pink-warm-sweater.jpg" class="profile-image img-fluid" alt="">
    </a>

    <a href="#">
        <img src="static/images/profile/senior-man-white-sweater-eyeglasses.jpg" class="profile-image img-fluid" alt="">
    </a>

    <div class="profile-rounded">
        <a href="{{ url_for('add_transaction_detail') }}">
            <i class="profile-rounded-icon bi-plus"></i>
        </a>
    </div>
</div>